<!-- \|||||||||||||||||||||||||||||||||||||||||||||||||| Footer |||||||||||||||||||||||||||||||||||\\ -->
<footer>
    <div class="footer_section">
        <div class="top_footer">
            <div class="title">
                <h1>
                    <img src="./assets/images/logo.png" alt="">
                    <em>Tra</em>
                    <strong> in </strong>
                    <p>ee</p>
                </h1>
            </div>
        </div>
        <div class="middle_footer">
            <div class="left">
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Policy</a>
            </div>
            <div class="middle">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="right">
                <a href="#">Contact</a>
                <a href="#">Shopping info</a>
                <a href="#">Returns</a>
            </div>
        </div>
        <div class="new_selter">
            Weekly NewSletter
        </div>
        <form action="#" method="post" class="subscribe">
            <input type="text" name="email" autocomplete="email" autofocus>
            <button type="submit">Subscribe</button>
        </form>
        <div class="information_contact">
            <div>
                <i class="fa-solid fa-location"></i>
                <span> Address : Builder Hub, Newyork 10012, USA </span>
            </div>
            <div>
                <i class="fa-solid fa-phone-alt"></i>
                <span>
                    <p> +201212745939 </p>
                    <p> mmoh33650@gmail.com </p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-clock"></i>
                <span>
                    <p> Mon - Sat 8.00 - 18.00 </p>
                    <p> Sunday CLOSED </p>
                </span>
            </div>
        </div>
        <div class="new_selter copy_right">
            &COPY;2022 | Why Trainee.
        </div>
    </div>
</footer>
<!-- \|||||||||||||||||||||||||||||||||||||||||||||||||| Footer |||||||||||||||||||||||||||||||||||\\ -->
<!--888888888888888888888 scripts 88888888888888888888-->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="./assets/js/main.js"></script>
</body>

</html>