<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <link rel="icon" href="./assets/images/joinUs.gif" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


    <title>-- Join To Our -GYM --</title>
</head>

<body>
<header style="background: black;max-height: 100vh;min-height: 3vh;overflow: visible;">
    <nav>
        <div class="title">
            <h1>
                <img src="./assets/images/logo.png" alt="">
                <em>Tra</em>
                <strong> in </strong>
                <p>ee</p>
            </h1>
            <div class="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar">
            <ul class="toggle">
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="dropmenu" style="position: relative; --i:1;">
                    <li class="drop">
                        <span>Workout</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </li>
                    <div class="drop__menu">
                        <div class="drop__menu__items">
                            <div class="drop__menu__item">
                                <h3>Make Up <i class="fa-solid fa-angle-down"></i></h3>
                                <ul>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                </ul>
                            </div>
                            <div class="drop__menu__item">
                                <h3>Make Up <i class="fa-solid fa-angle-down"></i></h3>
                                <ul>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                </ul>
                            </div>
                            <div class="drop__menu__item">
                                <h3>Make Up <i class="fa-solid fa-angle-down"></i></h3>
                                <ul>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                </ul>
                            </div>
                            <img src="./assets/images/1.jpg" alt="">
                            <img src="./assets/images/2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->

                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="dropmenu" style="position: relative; --i:2;">
                    <li class="drop">
                        <span>Programs</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </li>
                    <div class="drop__menu">
                        <div class="drop__menu__items">
                            <div class="drop__menu__item">
                                <h3>Make Up <i class="fa-solid fa-angle-down"></i></h3>
                                <ul>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                </ul>
                            </div>
                            <a class="specal__item">
                                <h2> Special Product </h2>
                                <img src="./assets/images/2.jpg" alt="">
                                <pre>Discount</pre>
                                <em>$30</em>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->


                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="dropmenu" style="position: relative; --i:3;">
                    <li class="drop">
                        <span>Healthy Living</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </li>
                    <div class="drop__menu">
                        <div class="drop__menu__items">
                            <div class="drop__menu__item">
                                <h3>Make Up <i class="fa-solid fa-angle-down"></i></h3>
                                <ul>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                    <li><a href="#"> Eyeliner</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->


                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="dropmenu" style="position: relative; --i:4;">
                    <li class="drop">
                        <span>Community</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </li>
                    <div class="drop__menu">
                        <div class="drop__menu__items">
                            <div class="drop__menu__item">
                                <li><a href="#"> Eyeliner</a></li>
                                <li><a href="#"> Eyeliner</a></li>
                                <li><a href="#"> Eyeliner</a></li>
                                <li><a href="#"> Eyeliner</a></li>
                                <li><a href="#"> Eyeliner</a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->

                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="dropmenu link" style="position: relative; --i:5;">
                    <li class="drop">
                        <a href="store.html">Store</a>
                    </li>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->

                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="dropmenu login link" style="position: relative; cursor:pointer; --i:6;">
                    <li class="drop login">
                        <a href="login.html">Log in \ sign up</a>
                        <i class="fa-solid fa-angle-down"></i>
                    </li>
                    <div class="drop__menu">
                        <div class="login__items">
                            <h1>JOIN FOR FREE!</h1>
                            <p>Join for free and start building and tracking your workouts, get support from other
                                Fitness Blender members and more!</p>
                            <a href="login.html">Log in</a>
                            <a href="login.html">Join</a>
                        </div>
                    </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
                <div class="navbar_icons" style="position: relative; --i: 7;">
                    <div class="dropmenu login link" style="position: relative; cursor:pointer; --i: 7;">
                        <li class="drop login">
                            <span><i class="fa-solid fa-search"></i></span>
                        </li>
                        <div class="drop__menu">
                            <form>
                                <input type="search" name="search">
                                <button type="submit">
                                    <i class="fa-solid fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="dropmenu link" style="position: relative; cursor:pointer">
                        <li class="drop">
                            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                    </div>
                </div>
                <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||\ -->
            </ul>
        </div>
    </nav>

</header>